
/* header Css here  */

.headerimg{
    padding: 10px 0px 10px 20px;
}
.nav-about{
    padding-left: 50px;
}

/* header Css here End */

/*About US Section 1 Css here  */

.headimg{
    padding: 0px 20px 0px 30px;
}

h2.Black{
    color: black;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .hidden {
    display: none;
}

.toggle-button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/*About US Section 1 Css here End */

/* Questiones and Video Section 2 here */

.faq-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 50px;

}

.faq {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    width: 100%
}
.faq-Head{
    padding: 20px 30px 20px 30px;
    background-color: #47A1E7 !important;
    color: white;
}
.faq-body{
    padding: 15px 30px 0.04px 30px;
}
.faq h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.faq p {
    line-height: 1.5;
}

/* Questiones and Video Section 2 here End */



