.contact-Background{
  background-color: #F0F5FF;
}


/* section 1 Css here */
.leftForm{
  padding: 92px 30px 60px 30px;
  background-color: lightblue;
  
}

.contact-info{
  background-color: white;
  padding: 30px 40px 30px 40px;
}
.Select-feild{
  width: 100%;
  border: none;
  height: 56px;
  line-height: 64px;
  font-weight: 400;
  margin-bottom: 15px;
  padding-left: 20px;
  background: white;
  color: #727272;
}

.buttonblu{
  background-color: #4FA7E3;
  color: white;
  padding: 14px 80px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 0%;
}